<h1>Plantilla en fichero HTML de empleados:</h1>

<!-- USO DE LA DIRECTIVA ngIf -->
<strong>Empleado estrella:</strong>
<br/><br/>
<div *ngIf="trabajador_externo == true">
  <button (click)="cambiarExterno(false)">Mostrar empleado</button>
  <ul>
    <li>{{trabajadores[1].nombre}}</li>
    <li>{{trabajadores[1].edad}}</li>
    <li>{{trabajadores[1].cargo}}</li>
    <li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
    <li *ngIf="trabajadores[1].contratado == false">No está contratado</li>
  </ul>
</div>

<div *ngIf="trabajador_externo == false">
  <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Está contratado</li>
    <li *ngIf="empleado.contratado == false">No está contratado</li>
  </ul>
</div>


<hr/>

<!-- USO DE LA DIRECTIVA ngFor -->
<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores">
    <!-- POR CADA TRABAJADOR DEL ARRAY SE CREA UNA VARIABLE EMPLEADO -->
    Empleado:
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado == true">Está contratado</li>
      <li *ngIf="empleado.contratado == false">No está contratado</li>
    </ul>
  </li>
</ul>

<hr/>

<!-- USO DE LA DIRECTIVA ngSwitch -->
<h3>
  Colores switch</h3>
<ul [ngSwitch]="color">
  <!-- Se pone "'red'" porque lo que espera es un String y se mete mediante comillas simples -->
  <li *ngSwitchCase="'red'" [ngStyle]="{
      'background':color,
      'color':'white',
      'padding':'20px'}">Es de color ROJO</li>

  <li *ngSwitchCase="'green'" [ngStyle]="{
          'background':color,
          'color':'white',
          'padding':'20px'}">Es de color VERDE</li>

  <li *ngSwitchCase="'blue'" [ngStyle]="{
              'background':color,
              'color':'white',
              'padding':'20px'}">Es de color AZUL</li>
</ul>

<hr/>

<!-- Uso del Two Way Data Binding -->
<h3>Selector de colores:</h3>
<button (click)="logColorSeleccionado()">MOSTRAR LOG</button>
<!-- Con ngModel le decimos que propiedad del modelo de datos vamos a modificar, en este caso el color_seleccionado, y se modificará visualmente y en el modelo de datos -->
<input type="text" [(ngModel)]="color_seleccionado"/>
<!-- Aquí lo que se hace es comprobar el color introducido, en este caso, si es rojo, ponemos un borde negro, en caso de no ser rojo, se pone uno blanco -->
<!-- Si probamos lo que hay justo debajo, no hará lo de BordeAzul ya que el style.border es prioritario, para ello en el CSS le ponemos a la clase BordeAzul un !important -->
<pre
    [style.border]="color_seleccionado == 'red' ? '5px solid black' : '5px solid white'"
    [class.fondoAzul]="color_seleccionado == 'blue'"
> <!-- Si es rojo ponme un borde negro, sino, ponlo blanco -->
    <strong>Color elegido:</strong>
    {{color_seleccionado}}
</pre>
<div [ngStyle]="{
    'background':color_seleccionado,
    'width':'200px',
    'height':'200px',
    'float':'right',
    'margin-right':'70%'}"></div>
